body {
  background-color: white;
}
/* * * * Indexer * * * */

.indexer-wrapper {
    flex: 1 1 auto;
}

.indexer-area {
    width: 65%;
    margin: auto;
    margin: 50px auto 50px auto;
    border-radius: 2px;
    border: solid #e3e3ec 1px;
}

.indexer-area .indexer-title {
    background-color: #eeeef8;
    border-bottom: solid #e3e3ec 1px;
}

.indexer-area .indexer-title h3 {
    margin: 0;
    padding: 12px 0 12px 30px;
    font-size: 16px;
}

.indexer-area .-indexer-title span {
    display: inline-block;
    font-size: 18px;
}

.indexer .record {
    display: flex;
    padding: 10px;
    color: #666666;
}

.indexer .record .information {
    display: flex;
    margin: auto 0 auto 0;
}

.indexer .record .information h4, .indexer .record .information p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    margin-right: 20px;
}

.indexer .record .buttons {
    display: flex;
    margin-left: auto;
}

.indexer .record .button {
    display: inline-block;
    margin-left: 10px;
}

.indexer .record .button a, .indexer .record .button button {
    transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    color: #666666;
    display: block;
    text-decoration: none;
    background-color: #eeeef8;
    border: #e3e3ec solid 1px;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
}

.indexer .record .button a:hover, .indexer .record .button button:hover {
    background-color: #e3e3ec;
}
