<header>
  <div class="title">
    <span class="icon-hipster"></span>
    <h1>Moustache seller</h1>
  </div>
  <nav class="activities-bar">
    <div class="zone-name">
      <h2>Ventas</h2>
    </div>
    <ul class="user-options">
      <li>Alfonso Valencia</li>
      <li class="toggle-options" (click)="this.toggle()">
        <span class="icon-menu"></span>
      </li>
    </ul>
  </nav>
</header>
<div class="content-area">
  <div class="navigation-wrapper">
    <nav class="navigation">
      <ul>
        <a routerLink="/sales">
          <li><span class="icon-profile"></span> Registros</li>
        </a>
        <li class="selected">
          <span class="icon-coin-dollar"></span> Venta sle-
          <span class="id">{{sale.id}}</span>
        </li>
      </ul>
    </nav>
  </div>
  <div class="show-wrapper">
    <section class="show-area">
      <div class="show-title">
        <h3><span class="icon-file-text"></span> Mostrando datos de venta</h3>
      </div>
      <div class="show" *ngIf="sale">
        <div class="field">
          <label>Fecha</label>
          <p>{{Formater.dateFormat(sale.timestamp)}}</p>
        </div>
        <div class="field">
          <label>Total</label>
          <p>
            {{
              sale.total
                .toLocaleString('en-IN', { style: 'currency', currency: 'MXN' })
            }}
          </p>
        </div>
      </div>
    </section>
    <section class="show-area">
      <div class="show-title">
        <h3><span class="icon-file-text"></span> Mostrando datos de pago</h3>
      </div>
      <div class="show" *ngIf="sale">
        <div class="field" *ngIf="sale.payment.validated">
          <label>Fecha validación de pago</label>
          <p>{{Formater.dateFormat(sale.payment.validationDate)}}</p>
        </div>
        <div class="field">
          <label>Monto a cobrar</label>
          <p>
            {{
              sale.payment.amount
                .toLocaleString('en-IN', { style: 'currency', currency: 'MXN' })
            }}
          </p>
        </div>
        <div class="field">
          <label>Impuestos ({{sale.payment.taxPercent}}%)</label>
          <p>
            {{
              sale.payment.getTaxes()
                .toLocaleString('en-IN', { style: 'currency', currency: 'MXN' })
            }}
          </p>
        </div>
        <div class="field">
          <label>Monto + IVA</label>
          <p>
            {{
              sale.payment.getTotal()
                .toLocaleString('en-IN', { style: 'currency', currency: 'MXN' })
            }}
          </p>
        </div>
        <div class="field">
          <label>Monto recibido</label>
          <p>
            {{
              sale.payment.givenAmount
                .toLocaleString('en-IN', { style: 'currency', currency: 'MXN' })
            }}
          </p>
        </div>
        <div class="field">
          <label>Cambio</label>
          <p>
            {{
              sale.payment.getChange()
                .toLocaleString('en-IN', { style: 'currency', currency: 'MXN' })
            }}
          </p>
        </div>
      </div>
    </section>
  </div>
  <div class="indexer-wrapper">
    <section class="indexer-area">
      <div class="indexer-title">
          <h3>
            <span class="icon-file-text"></span>
            Listando productos de la venta
          </h3>
      </div>
      <div class="indexer">
        <div *ngFor="let productSale of sale.productsSales" class="record">
          <div class="information">
            <p>Nombre: <span>{{productSale.product.name}}</span></p>
            <p>Precio: $<span>
              {{
                productSale.product.price.toLocaleString('en-IN', {
                  style: 'currency', currency: 'MXN'
                })
              }} por
              {{
                productSale.product.measurement
              }}
          </span></p>
            <p>
              Cantidad:
              {{
                productSale.quantity
              }}
          </p>
          </div>
          <div class="buttons">
            <div class="button">
              <a routerLink="/products/{{product.id}}">
                <span class="icon-eye"></span> Ver
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
